.transaction .center {
    flex-direction: row;
}

.transaction x-identicon {
    display: inline-block;
    width: 120px;
}

.transaction .arrow {
    margin: 0 24px;
}

.transaction .row {
    margin: 14px 0;
    align-items: flex-start;
}

.transaction .row + .row {
    margin-top: 28px;
}

.transaction label {
    display: inline-block;
    width: 96px;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    font-size: 13px;
    font-weight: bold;
    opacity: 0.76;
}

.transaction .label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
}

.transaction.incoming .label[sender] {
    display: none;
}

.transaction.outgoing .label[recipient] {
    display: none;
}

.transaction x-address-no-copy {
    margin-left: -16px;
}

.transaction .blockHeight,
.transaction .confirmations,
.transaction .timestamp,
.transaction x-amount,
.transaction .fee {
    /* font-size: 1.2em; */
}

.transaction.removed .timestamp,
.transaction.expired .timestamp {
    background: var(--warning-color);
    padding: 4px 12px;
    border-radius: 3px;
    font-weight: 600;
}

.transaction .confirmations {
    font-size: 1em;
}

.transaction x-amount {
    margin: 18px 0;
    font-size: 26px;
}

.transaction.removed x-currency-nim,
.transaction.expired x-currency-nim {
    text-decoration: line-through;
}

.transaction .hash {
    font-family: monospace;
}


@media (max-width: 480px) {
    .transaction x-identicon {
        width: 90px;
    }

    .transaction .arrow {
        margin: 0 18px;
    }

    .transaction .row {
        flex-direction: column;
    }

    .transaction label {
        margin-bottom: 6px;
        font-size: 12px
    }

    .transaction .label {
        margin-bottom: 6px;
    }

    .transaction x-address-no-copy {
        margin-left: -4px;
    }
}