@import "/libraries/nimiq-style/nimiq-style.css";
@import '/secure-elements/x-router/x-router.css';
@import '/secure-elements/x-loading-animation/x-loading-animation.css';
@import '/secure-elements/x-passphrase-setter/x-passphrase-setter.css';
@import '/secure-elements/x-mnemonic-input/x-mnemonic-input.css';
@import '/secure-elements/x-mnemonic-phrase/x-mnemonic-phrase.css';
@import '/secure-elements/x-privacy-agent/x-privacy-agent.css';
@import '/secure-elements/nimiq-logo/nimiq-logo.css';
@import '/elements/x-loader/x-loader.css';
@import '/secure-elements/x-account-backup-import/x-account-backup-import.css';
@import './requests/create/x-identicons/x-identicons.css';
@import 'common-elements/x-account.css';
@import 'common-elements/x-authenticate.css';
@import 'common-elements/x-download-file.css';
@import 'common-elements/x-set-label.css';
@import 'common-elements/x-show-words.css';
@import './requests/sign/x-sign.css';

#app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    max-width: var(--max-width);
    min-height: 100vh;
    padding-bottom: 18px;
}

#app > * > * {
    flex-direction: column;
    align-items: center;
}

[x-route] {
    width: 100%;
    min-height: calc(100vh - 58px);
}

[x-route] [x-route] {
    min-height: unset;
}

[x-route] > * {
    flex-shrink: 0;
}

/* make code blocks look like keys on the keyboard */
code {
    font-family: monospace;
    font-size: 15px;
    border: 1px solid white;
    padding: 2px 6px;
    border-radius: 5px;
}

.x-loading {
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    max-width: var(--max-width);
}

h1 {
    margin-top: 56px; /* 2em */
}

.pad-bottom {
    padding-bottom: 28px;
}

@media (max-height: 700px) {
    h1 {
        margin-top: 28px;
    }
}

@media (max-height: 500px) {
    h1 {
        margin-top: 14px;
    }
}

x-identicon {
    display: block;
    height: 160px;
    width: 160px;
}
